html,
body {
	padding: 0;
	margin: 0;
}

body {
	font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
}

header {
    margin-bottom: 15px;
}

header h1 {
	font-size: 25px;
	font-weight: 100;
	margin: 0;
	padding: 0;
}

webview {
    border: 2px solid red;
}

canvas.chart {
    height: 200px;
    width: 90%;
}
